@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  /* 1rem equals 16px */
}

.react-multi-carousel-list {
  padding: 0rem 0 3rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: none;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: #170206 !important;
}
.animate {
  /* display: inline-block; */
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
}

.dynamic-text {
  width: 17ch;
  border-right: 2px solid black;
  animation: slideUp 1s ease-out forwards, typing 1s steps(17, end),
    blink 0.75s step-end infinite;
}

.write {
  animation: write 1s ease-in-out infinite;
}

.illustrationImg {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

#upperArm {
  animation: forearmAnimation 1s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes forearmAnimation {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 17ch;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes write {
  0%,
  100% {
    transform: translate(0, 0); /* Starting point */
  }
  50% {
    transform: translate(-3px, 2px); /* Slight movement to mimic writing */
  }
}
